.shanvi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.s-1{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    transition: all 1s linear;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px green;
}
.s-1:hover{
    transform: scale(2);
}
.h-1{
    width: 150px;
    height: 100px;
    border-radius: 5px;
}